body {
    color: white;
    background-color: black;
    margin: 0px;
    font-family: "chakra petch", sans-serif;
    margin-bottom: 100px;
}

header {
border-bottom : solid 2px blue;
padding: 20px;
font-size: 35px;
color: rgb(145, 0, 0);
}


chamada {
    background: rgb(2, 2, 17);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;

}

h1 {
    font-size: 40xp;

}

p {

font-size: 20px;
}

.categoria-videos{
    display:flex;
    overflow-x: auto;
    gap: 10px;
}

.categoria {
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 100px;
}


